body {
    font-family: "Noto Sans KR" !important;
}
.content {
    flex-grow: 1; /* 남은 공간을 모두 사용 */
    background-color: #f4f7ff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

/************** top **************/
.top-box{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 12px 30px;
}
.top-box .select-btn{
    width: 7vw;
    background-color: #16DBCC;
    border-radius: 15px;
    color: #ffffff;
    border: none;
}
.top-box .init-btn{
    width: 7vw;
    background-color: #ffffff;
    border-radius: 15px;
    color: #D0D5DD;
    border-color: #D0D5DD;
}
.input-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    font: 500 12px "Noto Sans KR";
}
.first-input-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.first-input-box .form-control{
    height: 2.5rem;
}


.top-content .form-control{
    font: 300 13px "Noto Sans KR" !important;
    color: #858D9D;
    border-color: #D0D5DD;
    border-radius: 10px;
}
.top-content .col-form-label{
    font: 500 13px "Noto Sans KR";
}








/************** middle **************/
.middle-row {
    width: 100%;
    height: 100%;
    display: flex !important;
}
.middle-box {
    width: 49% !important;
    height: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 0rem 0rem !important;
    border: none !important;
}
.accordion-box {
    width: 49% !important;
    padding: 0px !important;
}

.accordion-item{
    border-radius: 8px !important;
    border-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.middle-row .btn-light{
    width: 7vw;
    background-color: #ffffff;
    border-radius: 15px;
    color: #D0D5DD;
    border-color: #D0D5DD;
}

.title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}
.title-box .btn{
    width: 7vw;
    border-radius: 15px;
}



/******************* accodion content *****************/
.first-input-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.update-box{
    border-radius: 8px;
}
.update-box-content .col-form-label{
    font: 400 11px "Noto Sans KR" !important;
}




.col-form-label{
    font: 500 13px "Noto Sans KR";
}

.form-control{
    font: 300 11px "Noto Sans KR" !important;
    color: #858D9D;
    border-color: #D0D5DD !important;
    border-radius: 10px !important;
}

.penalty-input,
.suspention-input {
    text-align: right; /* input 필드 내의 텍스트 및 플레이스홀더를 오른쪽으로 정렬 */
    padding-right: 40px !important; /* 오른쪽 여백을 추가하여 텍스트와 유닛 사이의 간격 유지 */
}

.unit {
    position: absolute; /* 절대 위치 설정 */
    right: 10px; /* 오른쪽에 위치 조정 */
    top: 50%; /* 세로 중앙 정렬 */
    transform: translateY(-50%); /* 중앙 정렬을 위한 변환 */
    color: #999; /* 색상 설정 */
}

.penalty::placeholder,
.suspention::placeholder {
    text-align: right; /* 플레이스홀더 텍스트 정렬 */

}





@media (max-width: 400px) {
    .container {
        margin: 0.1rem 0.1rem;
    }
    .sidebar {
        z-index: 1000; /* 사이드바의 z-index 값을 높게 설정 */
        position: relative; /* 위치 속성 설정 (필요 시 추가) */
    }
    /* ag-Grid의 z-index를 낮게 설정 */
    .ag-theme-quartz {
        z-index: 1 !important; /* 그리드의 z-index 값을 사이드바보다 낮게 설정 */
        position: relative !important; /* 위치 속성 설정 (필요 시 추가) */
    }
    .top-box{
        padding: 0.5rem 0.5rem;
    }
    .top-box .btn{
        font-size: 0.7rem;
        width: 15vw;
        margin-right: 0.1rem !important;
        border-radius: 15px;
    }
    .col-form-label{
        font: 500 13px "Noto Sans KR" !important;
    }
    .col-lg-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }




    /* header */
    .ag-header-row{
        font: 600 14px "Noto Sans KR";
        color: #718EBF !important;
        font-size: 0.7rem !important;
    }
    /* 홀수 row */
    .ag-row-even{
        font: 350 13px "Noto Sans KR";
        color: #232323 !important;
        overflow: auto;
        font-size: 0.7rem !important;
    }
    /* 짝수 row*/
    .ag-row-odd{
        font: 350 13px "Noto Sans KR";
        color: #232323 !important;
        overflow: auto;
        font-size: 0.7rem !important;
    }
    .ag-paging-panel{
        font-size: 0.6rem !important;
    }
    .ag-paging-page-summary-panel > *{
        margin: 0.2px !important;
        font-size: 0.7rem;
    }
    .ag-paging-row-summary-panel > *{
        font-size: 0.7rem;
    }
    .middle-row .btn-light{
        width: 50px;
        font-size: 0.7rem;
        background-color: #ffffff;
        border-radius: 15px;
        color: #D0D5DD;
        border-color: #D0D5DD;
    }
    .title-box .btn{
        width: 50px;
        font-size: 0.7rem;
    }
}






