body {
  font-family: "Noto Sans KR" !important;
}
.page-content {
  min-height: calc(100vh - 6px);
}
.content {
  flex-grow: 1; /* 남은 공간을 모두 사용 */
  background-color: #f4f7ff;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  max-width: 100% !important; /* 모든 화면에서 100%로 설정 */
  width: 100% !important; /* 컨테이너 너비를 100%로 설정 */
}
/* 미디어 쿼리 덮어쓰기: min-width 제한 제거 */
@media (min-width: 0px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 100% !important; /* 모든 조건에서 100%로 설정 */
  }
}

/************** top **************/
.button-box {
    margin-bottom: 20px !important;
}
.top-box {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 40px;
}

.top-box .select-btn {
  width: 80px;
  background-color: #16dbcc;
  height: 35px;
  border-radius: 30px;
  color: #ffffff;
  border: none;
}
.select-btn:hover {
  background-color: #3ab2a9 !important;
  color: white !important;
}

.top-box .init-btn {
  width: 80px;
  background-color: #ffffff;
  height: 35px;
  border-radius: 30px;
  color: #858d9d !important;
  border-color: #d0d5dd;
}

.init-btn:hover {
  background-color: #e1e1e1 !important;
  transition: 0.3s ease-out;
}

.input-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  font: 500 12px "Noto Sans KR";
}
.first-input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.first-input-box .form-control {
  height: 2.5rem;
}
.top-content .form-control {
  font: 300 13px "Noto Sans KR" !important;
  color: #858d9d;
  border-color: #d0d5dd;
  border-radius: 10px !important;
}
.top-content .col-form-label {
  font: 500 13px "Noto Sans KR";
}

/************** middle **************/
.middle-row {
  width: 100%;
  height: 100%;
  display: flex !important;
}

.accordion-box {
  width: 48% !important;
  padding: 0px !important;
  margin-bottom: 40px;
}

.accordion-item {
  border-radius: 8px !important;
  border: none !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.accordion-button {
  border-radius: 8px !important;
}

.middle-row .btn-light {
  width: 80px;
  background-color: #ffffff;
  height: 35px;
  border-radius: 30px;
  color: #858d9d !important;
  border-color: #d0d5dd;
  line-height: 20px;
}

.middle-row .btn-light:hover {
  background-color: #e1e1e1 !important;
  transition: 0.3s ease-out;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}
.title-box .btn {
  width: 80px;
  background-color: #4318ff !important;
  height: 35px;
  border-radius: 30px !important;
  color: #ffffff !important;
  line-height: 15px !important;
  border: none !important;
}

/* header */
.ag-header-row {
  font: 600 14px "Noto Sans KR";
  color: #718ebf !important;
}
/* 홀수 row */
.ag-row-even {
  font: 350 13px "Noto Sans KR";
  color: #232323 !important;
  overflow: auto;
}
/* 짝수 row*/
.ag-row-odd {
  font: 350 13px "Noto Sans KR";
  color: #232323 !important;
  overflow: auto;
}

/******************* accordion content *****************/
.first-input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.update-box {
  border-radius: 8px;
}
.update-box-content .col-form-label {
  font: 400 11px "Noto Sans KR" !important;
}
.col-form-label {
  font: 500 13px "Noto Sans KR";
}
.form-control {
  font: 300 11px "Noto Sans KR" !important;
  color: #858d9d;
  border-color: #d0d5dd !important;
  border-radius: 10px !important;
}
.penalty-input,
.suspention-input {
  text-align: right; /* input 필드 내의 텍스트 및 플레이스홀더를 오른쪽으로 정렬 */
  padding-right: 30px !important; /* 오른쪽 여백을 추가하여 텍스트와 유닛 사이의 간격 유지 */
}
.unit {
  position: absolute; /* 절대 위치 설정 */
  right: 10px; /* 오른쪽에 위치 조정 */
  top: 50%; /* 세로 중앙 정렬 */
  transform: translateY(-50%); /* 중앙 정렬을 위한 변환 */
  color: #999; /* 색상 설정 */
}
.penalty::placeholder,
.suspention::placeholder {
  text-align: right; /* 플레이스홀더 텍스트 정렬 */
}

/******************   first modal   ********************/
.modal .accordion-item {
  border-radius: 8px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px !important;
}

.list-group, .master-list-group {
  max-height: 500px; /* 모바일에서는 최대 높이를 조금 줄임 */
  overflow-y: auto;
}

.input-group, .master-input-group {
  display: flex;
  flex-wrap: nowrap !important;
  width: 100%;
  flex-direction: row !important;
}

.modal-search-box, .master-modal-search-box {
  flex-direction: row;
  flex-wrap: nowrap !important;
}

.modal-search-box input, .master-modal-search-box input {
  border-color: #d0d5dd;
  border-radius: 10px !important;
  font: 350 13px "Noto Sans KR";
  color: #858d9d;
}
.modal-search-box button, .master-modal-search-box button{
  border-color: #d0d5dd;
  border-radius: 10px !important;
  font: 350 13px "Noto Sans KR";
  color: #858d9d;
}

.list-item, .master-list-item{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.list-group-item, .master-list-group-item{
  border: none !important;
}
.item-info, .master-item-info{
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 6px;
  width: 80%;
  height: 60px;
  padding: 10px;
  font: 400 13px "Noto Sans KR";
}

.item-info:hover, .master-item-info:hover{
  background-color: #f2f6ff !important;
  border: 1px solid #3274fa;
}
.list-group button, .master-list-group button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f5f9;
  border-color: #fff;
  height: 60px;
  color: black;
}
.list-group-item button, .list-group-item button{
  font: 400 13px "Noto Sans KR";
}

/*  second modal         ***************************************************/
.inner-accordion-button {
  background-color: #ededed !important;
  font: 400 13px "Noto Sans KR" !important;
  border-radius: 8px !important;
}
.inner-accordion-item {
  border-radius: 8px !important;
  border-color: #ededed !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-color: #ededed !important;
}

.score {
  height: 3rem;
  background-color: #d9ddff;
  border-radius: 10px;
  font: 400 15px "Noto Sans KR" !important;
}
.inner-accordion-body .row div {
  border-radius: 8px;
  margin: 0rem 1rem;
}
.inner-accordion-body .row span {
  margin: 0.5rem 0rem;
  color: #9ca3af;
  font: 400 13px "Noto Sans KR" !important;
}
.form-check {
  font: 300 10px "Noto Sans KR" !important;
  padding: 0 !important;
  margin: 0rem 0rem 0rem 1.5rem !important;
}
.radio-box {
  display: flex;
  justify-content: center;
}

.large-category-group .btn {
  width: 4.5rem;
  height: 2rem;
  font: 350 12px "Noto Sans KR";
  border-radius: 15px;
}

.sidebar {
  z-index: 1000; /* 사이드바의 z-index 값을 높게 설정 */
  position: relative; /* 위치 속성 설정 (필요 시 추가) */
}
/* ag-Grid의 z-index를 낮게 설정 */
.ag-theme-quartz {
  z-index: 1 !important; /* 그리드의 z-index 값을 사이드바보다 낮게 설정 */
  position: relative !important; /* 위치 속성 설정 (필요 시 추가) */
}

.category-btn:focus, accordion-button:focus{
  outline:none !important;
  box-shadow:none !important;
}

@media (max-width: 650px) {
  .container {
    margin: 0.1rem 0.1rem;
  }
  /*.sidebar {*/
  /*    z-index: 1000; !* 사이드바의 z-index 값을 높게 설정 *!*/
  /*    position: relative; !* 위치 속성 설정 (필요 시 추가) *!*/
  /*}*/
  /*!* ag-Grid의 z-index를 낮게 설정 *!*/
  /*.ag-theme-quartz {*/
  /*    z-index: 1 !important; !* 그리드의 z-index 값을 사이드바보다 낮게 설정 *!*/
  /*    position: relative !important; !* 위치 속성 설정 (필요 시 추가) *!*/
  /*}*/
  .top-box {
    padding: 0.5rem 0.5rem;
    margin-bottom: 20px !important;
  }
  .top-box .btn {
    font-size: 0.7rem;
    width: 15vw;
    margin-right: 0.1rem !important;
    border-radius: 15px;
  }
  .col-form-label {
    font: 500 13px "Noto Sans KR" !important;
  }
  .col-lg-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  /* header */
  .ag-header-row {
    font: 600 14px "Noto Sans KR";
    color: #718ebf !important;
    font-size: 0.7rem !important;
  }
  /* 홀수 row */
  .ag-row-even {
    font: 350 13px "Noto Sans KR";
    color: #232323 !important;
    overflow: auto;
    font-size: 0.7rem !important;
  }
  /* 짝수 row*/
  .ag-row-odd {
    font: 350 13px "Noto Sans KR";
    color: #232323 !important;
    overflow: auto;
    font-size: 0.7rem !important;
  }
  .ag-paging-panel {
    font-size: 0.6rem !important;
  }
  .ag-paging-page-summary-panel > * {
    margin: 0.2px !important;
    font-size: 0.7rem;
  }
  .ag-paging-row-summary-panel > * {
    font-size: 0.7rem;
  }
  .middle-row .btn-light {
    width: 50px;
    font-size: 0.7rem;
    background-color: #ffffff;
    border-radius: 15px;
    color: #d0d5dd;
    border-color: #d0d5dd;
  }
  .title-box .btn {
    width: 50px;
    font-size: 0.7rem;
  }

  .accordion-box {
    margin-bottom: 20px !important;
  }

  #categoryGrid,
  #subCategoryGrid,
  #evaluationGrid,
  #choiceListGrid {
    height: 324px !important;
  }

  .item-info, .master-item-info{
    box-shadow:
      rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 6px;
    width: 80%;
    height: 60px;
    padding: 10px;
    font: 400 10px "Noto Sans KR";
  }
  .list-group button, .master-list-group button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f5f9;
    border-color: #fff;
    height: 60px;
    color: black;
  }
  .list-group-item button, .master-list-group-item button {
    font: 400 10px "Noto Sans KR";
  }
  .container {
    margin: 0.1rem 0.1rem;
  }
  .btn-box div {
    width: 8rem;
  }

  .collapseTwo,
  .collapseThree,
  .collapseFour {
  }

  .evit-score{
    min-width: 51px !important;
  }
}

/*------------드롭다운 버튼-----------*/
.top-drop-down{
  width: 26px;
  height: 26px;
  margin-left: 15px;
  margin-top: 2px;
}


.top-drop-down>button{
  width: 100%;
  height: 100%;
  border: solid 2px #858D9D;
  border-radius: 50%;
  color: #858D9D;
  font-size: 12px;
  background: none;
}
.top-drop-down>button:hover{
  color: white;
  border: none;
  background-color: #4318FF;
  transition: ease-out 0.3s;
}


.top-content .container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.top-drop-down button i {
  transition: transform 0.3s ease-in-out;
}
.ag-header-cell-label {
  justify-content: center;
}

.form-label-essential:after {
  content: "*";
  display: block;
  height: 16px !important;
  width: 7px !important;
  margin-left: 3px;
  color: red;
}