/*---------------해당부분은 동적으로 변동이 될부분의 css------------*/
/* 사진 업로드 버튼 */


/* 기본 닫힌 상태 */
.inspection-content-wrapper {
    height: 0; /* height를 0으로 설정 */
    overflow: hidden; /* 콘텐츠가 넘치지 않도록 숨김 */
    padding: 0 20px; /* 열릴 때 패딩 추가 */
    box-sizing: border-box;
    transition: padding 0.3s ease-out; /* 패딩 애니메이션만 유지 */
}

/* 열릴 때 상태 */
.inspection-content-wrapper.open {
    padding: 0 20px 20px 20px; /* 열릴 때 패딩 추가 */
}




.answer-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.answer-btn {
    width: 45%;
    height: 60px;
    border: 1px solid #d0d5dd;
    background-color: white;
    color: #666;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
}

.answer-btn:hover {
    background-color: #f4f7ff;
}

.answer-btn:active {
    border-color: #4318ff;
    color: #4318ff;
}

.answer-section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.radio-label2 {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #9CA3AF;
    margin-right: 20px;
}

.radio-label2 input[type="radio"] {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

input[type="radio"]:checked {
    accent-color: #4318FF; /* 체크된 라디오 버튼의 색상을 파란색으로 설정 */
}

.radio-label2:last-child {
    margin-right: 0; /* 마지막 항목에만 오른쪽 여백 없음 */
}


.photo-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.photo-buttons {
    height: 130px;
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    justify-content: space-between;
}

.photo-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px; /* 버튼 높이를 넓게 */
    border: 1px solid #e0e0e0;
    background-color: white;
    color: #666;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 10px; /* 버튼 사이 간격 */
}
.photo-btn:last-child{
    margin-bottom: 0;
}
.photo-btn>i{
    margin-right: 5px;
}

.photo-boxes {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 120px); /* 사진 버튼을 제외한 공간 */
}

.photo-box {
    width: calc(50% - 10px);
    height: 130px;
    background-color: #fff0c2;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}



/* --------------------매장 정보 라디오 버튼 -------------------*/
.store-info {
    margin-top: 20px;
}

/* 탭 버튼 */
.tab-section {
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #f4f7ff;
    border: solid 1px #D0D5DD;
    border-radius: 10px;
    margin-bottom: -10px;
}

.tab-btn {
    width: 48%;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: #4318FF;
    cursor: pointer;
    background-color: #F4F7FF;
}

.tab-btn.active {
    background-color: #4318FF;
    color: white;
}
.location-content-list{
    border: 1px solid #D0D5DD;
    border-radius: 0 0 10px 10px;
    border-top: none;
}

.radio-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: solid 1px #D0D5DD;
    font-size: 16px;
    color: #9CA3AF;
}
.radio-label:first-child{
    padding-top: 25px;
}
.radio-label:last-child {
    border-bottom: none;
}

input[type="radio"] {
    width: 18px;
    height: 18px;
}

/* 기타사항 입력 */
.other-info {
    margin-top: 20px;
}

.other-info>label{
    margin-bottom: 10px;
}

.etc-input {
    width: 100%;
    height: 80px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    color: #666;
    resize: none;
}

/*---------------상세입력 탭----------------*/
/* 기본적으로 숨겨진 상세입력 내용 */
.detail-content {
    display: none;
    border: solid 1px #D0D5DD;
    border-radius: 0 0 10px 10px;
    border-top: none;
    padding: 30px 20px 20px 20px;
    box-sizing: border-box;
}

/* active된 탭의 스타일 */
.tab-btn.active {
    background-color: #4318FF;
    color: white;
}

.radio-group {
    display: flex;
    justify-content: space-between;
}
.radio-group label {
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.input-group-cover{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-group-cover>.input-group{
    width: 47%;
}
.input-group-cover>.input-group:first-child{
    margin-right: 20px;
}

.input-group {
    flex: 1 1 45%; /* 45% 너비로 설정 */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.input-group:last-child{
    margin-bottom: 0;
}


.input-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}


.input-group input[type="text"],
.input-group textarea {
    padding: 10px;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    resize: none; /* 텍스트 영역의 크기 조정 금지 */
}

.input-group textarea {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-radius: 10px;
    height: 100px;
}

.radio-group {
    display: flex;
    gap: 20px;
}

.radio-group label {
    font-size: 14px;
    color: #9CA3AF;
    display: flex;
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-left: 10px;
}

#go-inspection-wrap{
    width: 100%;
    height: 50px;

}
.go-inspection{
    float: right;
    width: 15vw; /* 화면 너비의 15% */
    height: 50px;
    border-radius: 10px;
    border: none;
    font: 500 1em "Noto Sans KR";
    color: white;
    background: #4318FF;
    margin-left: 15px;
}


/* 반응형 스타일 */
@media screen and (max-width: 950px) {
    .input-group-cover{
        width: 100%;
        display: block;
    }

    .input-group-cover>.input-group{
        width: 100%;
    }

    .input-group-cover>.input-group:first-child{
        margin-right: 0;
    }
    .input-group-cover>.input-group:last-child{
        margin-bottom: 20px;
    }

    .photo-section {
        display: block;
        margin-top: 20px;
    }

    .photo-buttons {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row; /* 세로 정렬 */
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .photo-btn{
        width: calc(50% - 10px);
        height: 100%;
    }

    .photo-boxes {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

}
@media screen and (max-width: 768px) {

    /*-------------------반응형 점검 체크리스트 구역-----------------------*/
    .inspection-list {
        grid-template-columns: 1fr;
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        /*gap: 20px;*/
    }

    .inspection-tab {
        font-size: 14px;
        padding: 8px 16px;
    }

    .input-group {
        flex: 1 1 100%; /* 너비를 100%로 변경 */
    }

    .radio-group {
        flex-wrap: wrap; /* 작은 화면에서 줄바꿈이 가능하도록 설정 */
    }
}

@media screen and (max-width: 470px) {

    /*-------------------반응형 점검 체크리스트 구역-----------------------*/
    .inspection-content {
        flex-direction: column;
        align-items: flex-start;
    }
}