body {
  font-family: "Noto Sans KR" !important;
}
.content {
  flex-grow: 1; /* 남은 공간을 모두 사용 */
  background-color: #f4f7ff;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

/************** top **************/
.top-box{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 12px 30px;
}
.top-box .select-btn{
  width: 7vw;
  background-color: #16DBCC;
  border-radius: 15px;
  color: #ffffff;
  border: none;
}
.top-box .init-btn{
  width: 7vw;
  background-color: #ffffff;
  border-radius: 15px;
  color: #D0D5DD;
  border-color: #D0D5DD;
}
.input-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  font: 500 12px "Noto Sans KR";
}
.first-input-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.second-input-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.input-box-tag{
  font: 500 13px "Noto Sans KR";
}

.top-content .col-form-label{
  font: 500 13px "Noto Sans KR";
}
.top-content .form-control{
  font: 300 11px "Noto Sans KR" !important;
  color: #858D9D;
  border-color: #D0D5DD;
  border-radius: 10px;
}




/************** middle **************/
.middle-box {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 12px 30px;
  padding: 1rem 2rem;
}
.middle-box .btn{
  width: 7vw;
  background-color: #ffffff;
  border-radius: 15px;
  color: #D0D5DD;
  border-color: #D0D5DD;
}
/* header */
.ag-header-row{
  font: 600 14px "Noto Sans KR";
  color: #718EBF !important;
}
/* 홀수 row */
.ag-row-even{
  font: 350 13px "Noto Sans KR";
  color: #232323 !important;
  overflow: auto;

}
/* 짝수 row*/
.ag-row-odd{
  font: 350 13px "Noto Sans KR";
  color: #232323 !important;
  overflow: auto;
}





/************** bottom **************/
.bottom-box {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 12px 30px;
}


.save-btn{
  width: 7vw;
  background-color: #4318FF !important;
  border-radius: 15px !important;
  color: #ffffff !important;
  border: none;
}

@media (max-width: 400px) {
  /* header */
  .ag-header-row{
    font: 600 14px "Noto Sans KR";
    color: #718EBF !important;
    font-size: 0.7rem !important;
  }
  /* 홀수 row */
  .ag-row-even{
    font: 350 13px "Noto Sans KR";
    color: #232323 !important;
    overflow: auto;
    font-size: 0.7rem !important;
  }
  /* 짝수 row*/
  .ag-row-odd{
    font: 350 13px "Noto Sans KR";
    color: #232323 !important;
    overflow: auto;
    font-size: 0.7rem !important;
  }
  .ag-paging-panel{
    font-size: 0.6rem !important;
  }
  .ag-paging-page-summary-panel > *{
    margin: 0.2px !important;
    font-size: 0.7rem;
  }
  .ag-paging-row-summary-panel > *{
    font-size: 0.7rem;
  }
  .middle-box {
    padding: 0.5rem 0.5rem;
  }
  .top-box{
    padding: 0.5rem 0.5rem;
  }
  .middle-box .btn{
    font-size: 0.7rem;
    width: 15vw;
    margin-right: 0.1rem !important;
    border-radius: 15px;
  }
  /* ag-Grid의 z-index를 낮게 설정 */
  .ag-theme-quartz {
    z-index: 1 !important; /* 그리드의 z-index 값을 사이드바보다 낮게 설정 */
    position: relative !important; /* 위치 속성 설정 (필요 시 추가) */
  }
  .sidebar {
    z-index: 1000; /* 사이드바의 z-index 값을 높게 설정 */
    position: relative; /* 위치 속성 설정 (필요 시 추가) */
  }
  .top-box .btn{
    font-size: 0.7rem;
    width: 15vw;
    margin-right: 0.1rem !important;
    border-radius: 15px;
  }

}
@media (max-width: 991px) {
  .top-content .first-input-box{
    margin-bottom: 0rem !important;
  }
  .top-content .second-input-box{
    margin-bottom: 0.1rem !important;
  }
  .top-content .col-12{
    margin-bottom: 1rem !important;
  }
}