<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sims.home.member.mapper.MemberMapper">
    <select id="selectMbrByMbrNo" resultType="Member">
        SELECT /* MemberMapper.getMemberByMbrId 유재원 */
            MBR_ID
             , MBR_NO
             , MBR_PW
             , MBR_NM
             , MBR_ROLE_CD
             , MBR_STTS_CD
             , TEL
             , HIRE_DT
             , QUIT_DT
             , CRE_MBR_ID
             , UPD_MBR_ID
             , CRE_TM
             , UPD_TM
             , LAST_LOGIN_TM
        FROM
            MBR
        WHERE
            MBR_NO = #{mbrNo}
    </select>

    <select id="selectMbrIdByMbrNo">
        SELECT
            MBR_ID
        FROM
            MBR
        WHERE
            MBR_NO = #{mbrNo}
    </select>

    <insert id="insertMbr" parameterType="Member">
        INSERT INTO ( /* MemberMapper.insertMember 유재원 */
            MBR
            , MBR_ID
            , MBR_NO
            , MBR_PW
            , MBR_NM
            , MBR_ROLE_CD
            , MBR_STTS_CD
            , TEL
            , HIRE_DT
            , QUIT_DT
            , CRE_MBR_ID
            , UPD_MBR_ID
            , CRE_TM
            , UPD_TMgit
            , LAST_LOGIN_TM
        )
        VALUES (
            MEMBER_SEQ.NEXTVAL
            , #{mbrNo}
            , #{mbrPw}
            , #{mbrNm}
            , #{mbrRoleCd}
            , 1
            , '010-1234-5678'
            , '20241010'
            , NULL
            , #{creMbrId}
            , NULL
            , TO_CHAR(CURRENT_DATE, 'YYYYMMDDHH24MI')
            , NULL
            , NULL
        )
    </insert>

    <update id="updateLastLoginDate">
        UPDATE /* MemberMapper.updateLastLoginDate 유재원 */
            MBR
        SET
            LAST_LOGIN_TM = TO_CHAR(CURRENT_DATE, 'YYYYMMDDHH24MI')
        WHERE
            MBR_NO = #{mbrNo}
    </update>
</mapper>
