@import "/resources/css/common/common.css";

body {
  font-family: "Noto Sans KR" !important;
  padding: 0px;
}
.page-content > .content {
  padding: 0px;
}

/* 모달 시작 */

.modal.fade.show {
  padding: 0 !important;
}

list-group {
  max-height: 500px; /* 모바일에서는 최대 높이를 조금 줄임 */
  overflow-y: auto;
}

.modal-search-box input {
  border-color: #d0d5dd;
  border-radius: 10px !important;
  font: 350 13px "Noto Sans KR";
  color: #858d9d;
}
.modal-search-box button {
  border-color: #d0d5dd;
  border-radius: 10px !important;
  font: 350 13px "Noto Sans KR";
  color: #858d9d;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.list-group-item {
  border: none !important;
}
.item-info {
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 6px;
  width: 80%;
  height: 60px;
  padding: 10px;
  font: 400 13px "Noto Sans KR";
}

.form-label{
  font-size: 15px !important;
  font-weight: 500 !important;
}
.top-search>span{
  font-size: 13px !important;
  color: #858D9D;
}
.search input {
  font-size: 13px !important;
  color: #858D9D;
}


.item-info:hover {
  background-color: #f2f6ff !important;
  border: 1px solid #3274fa;
}
.list-group button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f5f9;
  border-color: #fff;
  height: 60px;
  color: black;
}
.list-group-item button {
  font: 400 13px "Noto Sans KR";
}

.modal-footer {
  display: flex;
  justify-content: space-between; /* 버튼 사이 공간을 균등하게 분배 */
  align-items: center;
  border-top: 1px solid #dee2e6;
  padding: 1rem; /* 하단 패딩 추가 */
}

.modal-footer button:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4318ff;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.modal-footer button:last-child:hover {
  background-color: #2c0eb1;
}

.modal-footer button {
  flex: 1; /* 버튼의 너비가 균등해지도록 설정 */
  margin: 0 10px; /* 버튼 사이에 일정한 간격 추가 */
  min-width: 100px; /* 버튼 최소 너비 설정 */
}

/* 기존 .input-group 스타일 유지 */
.input-group {
  display: flex;
  flex-wrap: nowrap !important;
  width: 100%;
  flex-direction: row !important;
  max-height: 500px;
  overflow-y: auto;
}

/* 스크롤 가능한 리스트 스타일 */
.scrollable-list {
  max-height: 300px; /* 원하는 높이로 조정 */
  overflow-y: auto;
  padding-right: 15px; /* 스크롤바 공간 확보 */
}

/* 수직 스크롤바의 두께 설정 */
.list-group::-webkit-scrollbar {
  width: 8px; /* 또는 원하는 두께로 설정 */
  background-color: #eee;
}

/* 스크롤바 핸들(Thumb)의 스타일 설정 */
.list-group::-webkit-scrollbar-thumb {
  background: #aaa; /* 핸들의 색상 */
  border-radius: 4px; /* 핸들의 둥근 모서리 */
}

.highlighted {
  background-color: #f2f6ff !important;
  border: 1px solid #3274fa;
}

.sidebar {
  z-index: 1000; /* 사이드바의 z-index 값을 높게 설정 */
  position: relative; /* 위치 속성 설정 (필요 시 추가) */
}

/* 가맹점 관리 top 영역 시작 */
.top-box {
  width: 100%;
}
.more {
  background-color: #fff;
  border-radius: 8px;
  line-height: normal !important;
  height: 32px !important;
}

.more:hover {
  background-color: #e1e1e1;
}

.search-btn,
.autocomplete-item {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  line-height: 1.2 !important;
}

.search-btn i {
  transition: transform 0.3s linear;
}


.wrapper.active .search-btn i {
  transform: rotate(-180deg);
}

.hide-list {
  display: none;
  padding: 20px 20px 0 20px;
  margin-top: 4px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 3;
}

.wrapper.active .hide-list {
  display: block;
}

.hide-list .search {
  position: relative;
}
.top-search-box input {
  font-size: 13px;
}

.search i {
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}

.hide-list .options {
  margin-top: 15px;
  max-height: 250px;
  overflow-y: auto;
  padding: 0px;
  list-style: none;
}

.options::-webkit-scrollbar {
  width: 7px;
}

.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.options::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.options li {
  height: 40px;
  padding: 0px 13px;
  font-size: 13px;
}

.options li:hover,
.autocomplete-item.selected {
  border-radius: 5px;
  background: #f2f2f2;
}

.top-box-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  box-sizing: border-box;
}

.top-box-content div div div b {
  font-size: 20px;
  font-weight: 700;
}

.top-button-wrapper {
  padding-left: 10px; /* 좌측 패딩 추가 */
  padding-right: 10px; /* 우측 패딩 추가 */
}

.top-button {
  text-align: center;
  cursor: pointer;
  width: 80px;
}

.top-lookup {
  background-color: #16dbcc;
  border-radius: 30px;
  height: 35px;
  line-height: 2;
  color: white;
}

.top-lookup:hover {
  background-color: #3ab2a9;
}

.top-reset {
  border-radius: 30px;
  height: 35px;
  line-height: 2;
  color: #858d9d;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.top-reset:hover {
  background-color: #e1e1e1;
}
.form-control{
  border-radius: 8px !important;
}

.top-box .select-btn {
  width: 80px;
  background-color: #16dbcc;
  height: 35px;
  border-radius: 30px;
  color: #ffffff;
  border: none;
}
.select-btn:hover {
  background-color: #3ab2a9 !important;
  color: white !important;
}

.top-box .init-btn {
  width: 80px;
  background-color: #ffffff;
  height: 35px;
  border-radius: 30px;
  color: #858d9d !important;
  border-color: #d0d5dd;
}

.init-btn:hover {
  background-color: #e1e1e1 !important;
  transition: 0.3s ease-out;
}


/*------------드롭다운 버튼-----------*/
.top-drop-down{
  width: 26px;
  height: 26px;
  margin-left: 15px;
  margin-top: 2px;
}


.top-drop-down>button{
  width: 100%;
  height: 100%;
  border: solid 2px #858D9D;
  border-radius: 50%;
  color: #858D9D;
  font-size: 12px;
  background: none;
}
.top-drop-down>button:hover{
  color: white;
  border: none;
  background-color: #4318FF;
  transition: ease-out 0.3s;
}


.top-search-box {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.top-drop-down button i {
  transition: transform 0.3s ease-in-out;
}




/* 가맹점 관리 top 영역 끝 */

/* 중간 게시판 목록 시작 */
.button-box {
  margin-bottom: 20px !important;
}

.button-box .ms-3 {
  margin-left: 5px !important;
  font: 400 16px "Noto Sans KR" !important;
}

/* header */
.ag-header-row {
  font: 600 14px "Noto Sans KR";
  color: #718ebf !important;
}

.ag-header-cell-label {
  justify-content: center;
}

/* 홀수 row */
.ag-row-even {
  font: 350 13px "Noto Sans KR";
  color: #232323 !important;
  overflow: auto;
}
/* 짝수 row*/
.ag-row-odd {
  font: 350 13px "Noto Sans KR";
  color: #232323 !important;
  overflow: auto;
}



.middle-box {
  width: 100%;
}

.middle-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.middle-register {
  background-color: #4318ff;
  border-radius: 30px;
  height: 35px;
  line-height: 2;
  color: white;
}

.middle-register:hover {
  background-color: #1d0879;
}

.middle-delete {
  border-radius: 30px;
  height: 35px;
  line-height: 2;
  color: #858d9d;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.middle-delete:hover {
  background-color: #e1e1e1;
}

.table-responsive {
  overflow-x: scroll;
  width: 100%;
}

table th {
  color: #718ebf;
}

table th,
table td {
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  padding: 8px; /* 셀 패딩 조정 */
  vertical-align: middle;
}

table tr td input {
  vertical-align: middle;
}

/* 리스트 중간 더보기 */
.ag-layout-normal{
  border-radius: 8px !important;
}

.edit-options {
  position: absolute; /* 뷰포트 기준으로 위치 고정 */
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  cursor: pointer;
  display: none; /* 기본적으로 숨김 */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1006; /* 다른 요소들보다 위에 표시 */
}

/* 수정 옵션이 활성화될 때 표시 */
.edit-options.show {
  display: block;
  opacity: 1;
}

/* "수정" 옵션에 호버 효과 추가 */
.edit-options:hover {
  background-color: #f0f0f0;
}

/* 리스트 중간 더보기 끝 */

/* 중간 게시판 목록 끝 */

/* 하단 점검 검색 필터 시작 */
.bottom-box-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 12px 30px;
}

/* 커스텀 달력시작 */
/* 커스텀 달력 테이블 스타일 */
.calendar-body td {
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calendar-body td:hover {
  background-color: #f0f0f0;
}

.table .disabled {
  background-color: #e9ecef !important;
  color: #6c757d;
  cursor: not-allowed;
}

.table .today {
  background-color: #ffc107 !important;
}

.table .selected {
  background-color: #6e00fa !important;
  color: white;
}

@media (max-width: 1000px) {
  /* ag-Grid의 z-index를 낮게 설정 */
  .ag-theme-alpine {
    z-index: 1 !important; /* 그리드의 z-index 값을 사이드바보다 낮게 설정 */
    position: relative !important; /* 위치 속성 설정 (필요 시 추가) */
  }

  .sidebar {
    z-index: 1000; /* 사이드바의 z-index 값을 높게 설정 */
    position: relative; /* 위치 속성 설정 (필요 시 추가) */
  }

  .wrapper.active{
    position: relative;
  }
  .hide-list {
    width: 100%;
  }
}

@media (max-width: 600px) {
  body {
    padding : 0 !important;
  }

  .top-box-content>.col{
    margin-top: 10px;
  }
  
  .top-box-content > .col > .d-flex > .d-flex {
  	width : 38%;
  }
  
  .top-box-content > .col > .d-flex .my-3 {
  	width : 100%;
  	display : flex;
  }
  
  .top-box-content > .col > .d-flex .my-3 > button {
  	width : 50%;
  	font : 400 13px "Noto Sans KR";
  } 
  
  .top-box-content > .col > .d-flex .my-3 :nth-child(1) {
  	margin-right : 10px !important;
  }


  .ag-header-row {
    font: 600 14px "Noto Sans KR";
    color: #718ebf !important;
    font-size: 0.7rem !important;
  }
  /* 홀수 row */
  .ag-row-even {
    font: 350 13px "Noto Sans KR";
    color: #232323 !important;
    overflow: auto;
    font-size: 0.7rem !important;
  }
  /* 짝수 row*/
  .ag-row-odd {
    font: 350 13px "Noto Sans KR";
    color: #232323 !important;
    overflow: auto;
    font-size: 0.7rem !important;
  }
  .ag-paging-panel {
    font-size: 0.6rem !important;
  }
  .ag-paging-page-summary-panel > * {
    margin: 0.2px !important;
    font-size: 0.7rem;
  }
  .ag-paging-row-summary-panel > * {
    font-size: 0.7rem;
  }
  
  .hide-list {
  	position : relative;
  }
     


  /*  모달 끝 */
  .calendar-body td {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .top-button {
    width: 60px;
    font-size: 14px;
    line-height: 35px;
  }

  .top-box-content{
    padding: 20px 15px;
  }

  .top-box-content div div div b {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
  }


}

/* 선택된 날짜 카드 스타일 */
#selected-dates-container {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}

.date-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e2e3e5;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  min-width: 100px;
}

.date-card .remove-date {
  margin-left: 10px;
  cursor: pointer;
  color: #dc3545;
  font-weight: bold;
}

/* 비활성화된 모든 날짜에 대한 메시지 스타일 */
#all-dates-disabled-message {
  display: none;
}

/* 커스텀 달력 끝 */

/* 하단 점검 검색 필터 끝 */

/* 반응형 시작 */

@media (max-width: 1170px) {

  table {
    font-size: 0.7rem;
    min-width: 600px; /* 적절한 최소 너비 설정 */
    width: 100%; /* 너비를 100%로 유지 */
    border-collapse: collapse; /* 셀 간격 제거 */
  }

  table th,
  table td {
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    padding: 8px; /* 셀 패딩 조정 */
    vertical-align: middle;
  }

  table th {
    color: #718ebf;
  }

  table td .btn {
    font-size: 0.7rem !important;
  }

  /* 모바일 모달 창 */
  .modal_popup {
    width: 600px;
  }

  /* 모바일 모달 창 itme들 글자 크기 */
  .item-info p {
    font-size: 0.65rem;
  }

  .list-group button {
    font-size: 0.65rem;
  }
}

@media (max-width: 393px) {
  .top-box-content{
    padding: 10px;
  }

  .top-drop-down{
    margin-left: 10px;
  }

  .sidebar {
    width: 100%; /* 모바일에서 사이드바를 전체 너비로 확장 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: auto;
    background-color: #fff;
  }

  .content {
    margin-left: 0; /* 모바일에서 사이드바 없애고 콘텐츠 너비 조정 */
  }

  .top-search {
    width: 90%;
  }

  table {
    min-width: unset;
    width: 400px;
  }

  .table-responsive {
    overflow-x: scroll !important;
    width: 100%;
  }

  .middle-pagebox {
    font-size: 0.8rem;
  }

  .middle-box label {
    display: none;
  }

  .middle-pagebox .form-select {
    font-size: 0.7rem;
  }

  /* 모바일 모달 창 */
  .modal_popup {
    width: 360px;
  }

  /* 모바일 모달 창 itme들 글자 크기 */
  .item-info p {
    font-size: 0.65rem;
  }

  .list-group button {
    font-size: 0.65rem;
  }
}
