<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sims.qsc.store_inspection.mapper.StoreInspectionMapper">
    <select id="selectAllInspectionSchedules" resultType="com.sims.qsc.store_inspection.vo.StoreInspectionResponse">
        SELECT
            m.MBR_ID,
            m.MBR_NM,
            m.MBR_NO,
            c.CHKLST_NM,
            c.CHKLST_ID,
            st.STORE_NM,
            s.INSP_PLAN_DT,
            s.INSP_STTS_CD
        FROM INSP_SCHD s
                 JOIN STORE st ON s.STORE_ID = st.STORE_ID
                 JOIN MBR m ON st.INSP_MBR_ID = m.MBR_ID
                 JOIN INSP_PLAN p ON s.INSP_PLAN_ID = p.INSP_PLAN_ID
                 JOIN CHKLST c ON p.CHKLST_ID = c.CHKLST_ID
    </select>

    <!-- 추가된 쿼리: chklstId로 검사 데이터 조회 -->
    <select id="selectInspectionByChklstId" parameterType="string" resultType="com.sims.qsc.store_inspection.vo.StoreInspectionResponse">
        SELECT
            m.MBR_ID,
            m.MBR_NM,
            m.MBR_NO,
            c.CHKLST_NM,
            c.CHKLST_ID,
            st.STORE_NM,
            s.INSP_PLAN_DT,
            s.INSP_STTS_CD
        FROM INSP_SCHD s
                 JOIN STORE st ON s.STORE_ID = st.STORE_ID
                 JOIN MBR m ON st.INSP_MBR_ID = m.MBR_ID
                 JOIN INSP_PLAN p ON s.INSP_PLAN_ID = p.INSP_PLAN_ID
                 JOIN CHKLST c ON p.CHKLST_ID = c.CHKLST_ID
        WHERE c.CHKLST_ID = #{chklstId}
        AND st.STORE_NM = #{storeNm}
        AND s.INSP_PLAN_DT = #{inspPlanDt}
    </select>


</mapper>
