<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sims.qsc.store_inspection.mapper.StoreInspectionMapper">
    <select id="selectAllInspectionSchedules" resultType="com.sims.qsc.store_inspection.vo.StoreInspectionResponse">
        SELECT
            m.MBR_ID,
            m.MBR_NM,
            m.MBR_NO,
            c.CHKLST_NM,
            c.CHKLST_ID,
            st.STORE_NM,
            s.INSP_PLAN_DT,
            s.INSP_STTS_CD
        FROM INSP_SCHD s
                 JOIN STORE st ON s.STORE_ID = st.STORE_ID
                 JOIN MBR m ON st.INSP_MBR_ID = m.MBR_ID
                 JOIN INSP_PLAN p ON s.INSP_PLAN_ID = p.INSP_PLAN_ID
                 JOIN CHKLST c ON p.CHKLST_ID = c.CHKLST_ID
    </select>

    <!-- 추가된 쿼리: chklstId로 검사 데이터 조회 -->
    <select id="selectInspectionByChklstId" parameterType="string" resultType="com.sims.qsc.store_inspection.vo.StoreInspectionResponse">
        SELECT
            m.MBR_ID,
            m.MBR_NM,
            m.MBR_NO,
            c.CHKLST_NM,
            c.CHKLST_ID,
            st.STORE_NM,
            s.INSP_PLAN_DT,
            s.INSP_STTS_CD
        FROM INSP_SCHD s
                 JOIN STORE st ON s.STORE_ID = st.STORE_ID
                 JOIN MBR m ON st.INSP_MBR_ID = m.MBR_ID
                 JOIN INSP_PLAN p ON s.INSP_PLAN_ID = p.INSP_PLAN_ID
                 JOIN CHKLST c ON p.CHKLST_ID = c.CHKLST_ID
        WHERE c.CHKLST_ID = #{chklstId}
        AND st.STORE_NM = #{storeNm}
        AND s.INSP_PLAN_DT = #{inspPlanDt}
    </select>

    <select id="selectInspectionsByInspector" resultType="com.sims.qsc.store_inspection.vo.StoreLocationResponse">
        SELECT /* StoreInspectionMapper.selectInspectionsByInspector  노승우 */
           m.MBR_ID
           , m.MBR_NM
           , m.MBR_NO
           , c.CHKLST_NM
           , c.CHKLST_ID
           , st.STORE_NM
           , s.INSP_PLAN_DT
           , s.INSP_STTS_CD
           , st.LATITUDE
           , st.LONGITUDE
        FROM
            INSP_SCHD s
        JOIN STORE st
            ON s.STORE_ID = st.STORE_ID
        JOIN MBR m
            ON st.INSP_MBR_ID = m.MBR_ID
        JOIN INSP_PLAN p
            ON s.INSP_PLAN_ID = p.INSP_PLAN_ID
        JOIN CHKLST c
            ON p.CHKLST_ID = c.CHKLST_ID
        WHERE
            s.INSP_PLAN_DT = TO_CHAR(CURRENT_DATE, 'YYYYMMDD')
        AND
            m.MBR_NO = #{mbrNo}
    </select>

    <select id="selectAllInspectionMap"  resultType="com.sims.qsc.store_inspection.vo.StoreAllLocationResponse">
        SELECT /* StoreInspectionMapper.selectAllInspectionMap 노승우 */
            DISTINCT
                STO.STORE_NM
                , STO.STORE_ID
                , STO.LATITUDE
                , STO.LONGITUDE
                , INS.MBR_NO
                , CASE
                        WHEN STO.BRAND_CD = 'B001' THEN 'KCC 크라상'
                        WHEN STO.BRAND_CD = 'B002' THEN 'KCC 도넛'
                        WHEN STO.BRAND_CD = 'B003' THEN 'KCC 브레드'
                        WHEN STO.BRAND_CD = 'B004' THEN 'KCC 카페'
                END AS BRAND_NM
                , INS.MBR_NM AS INSPECTOR_NAME
                , SV.MBR_NM AS SUPERVISOR_NAME
        FROM INSP_SCHD ISC
                 INNER JOIN STORE STO
                            ON STO.STORE_ID = ISC.STORE_ID
                 INNER JOIN INSP_PLAN INP
                            ON INP.INSP_PLAN_ID = ISC.INSP_PLAN_ID
                 INNER JOIN MBR INS
                            ON INS.MBR_ID = STO.INSP_MBR_ID
                 INNER JOIN MBR SV
                            ON SV.MBR_ID = STO.SV_MBR_ID


    </select>

</mapper>
