<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sims.master.inspection_list_manage.mapper.InspectionListManageMapper">
    <select id="selectChklstNmByChklstId">
        SELECT
            c.CHKLST_NM AS chklstNm
            , m.CHKLST_NM AS masterChklstNm
        FROM
            CHKLST c
                LEFT JOIN
            CHKLST m ON c.MASTER_CHKLST_ID = m.CHKLST_ID
        WHERE
            c.CHKLST_STTS_W = '1'
          AND c.CHKLST_ID = #{chklstId}
    </select>

</mapper>
